.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

/*
   * RemWrapper needs to take it's styles from this element,
   * and this element can't have an absolute position after it's kicked in.
   * AFAIK it's not possible to do this directly in the RemWrapper component.
   */
.rem-position-fix {
  position: static !important;
}

.box {
  border-radius: 8px;
  width: 169px;
  height: 244px;
  margin: 10px;
  float: left;
}
