.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

/*
   * RemWrapper needs to take it's styles from this element,
   * and this element can't have an absolute position after it's kicked in.
   * AFAIK it's not possible to do this directly in the RemWrapper component.
   */
.rem-position-fix {
  position: static !important;
}

.box {
  border-radius: 8px;
  width: 169px;
  height: 244px;
  margin: 10px;
  float: left;
}


/* hearts image */
.hearts2{
  background-image: url("../assets/images/2-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts3{
  background-image: url("../assets/images/3-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts4{
  background-image: url("../assets/images/4-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts5{
  background-image: url("../assets/images/5-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts6{
  background-image: url("../assets/images/6-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts7{
  background-image: url("../assets/images/7-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts8{
  background-image: url("../assets/images/8-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts9{
  background-image: url("../assets/images/9-hearts.png");
  width: 169px;
  height: 244px;
}
.hearts10{
  background-image: url("../assets/images/10-hearts.png");
  width: 169px;
  height: 244px;
}
.Jhearts{
  background-image: url("../assets/images/J-hearts.png");
  width: 169px;
  height: 244px;
}
.Qhearts{
  background-image: url("../assets/images/Q-hearts.png");
  width: 169px;
  height: 244px;
}
.Khearts{
  background-image: url("../assets/images/K-hearts.png");
  width: 169px;
  height: 244px;
}
.Ahearts{
  background-image: url("../assets/images/A-hearts.png");
  width: 169px;
  height: 244px;
}

/* clubs image */

.clubs2{
  background-image: url("../assets/images/2-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs3{
  background-image: url("../assets/images/3-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs4{
  background-image: url("../assets/images/4-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs5{
  background-image: url("../assets/images/5-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs6{
  background-image: url("../assets/images/6-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs7{
  background-image: url("../assets/images/7-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs8{
  background-image: url("../assets/images/8-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs9{
  background-image: url("../assets/images/9-clubs.png");
  width: 169px;
  height: 244px;
}
.clubs10{
  background-image: url("../assets/images/10-clubs.png");
  width: 169px;
  height: 244px;
}
.Jclubs{
  background-image: url("../assets/images/J-clubs.png");
  width: 169px;
  height: 244px;
}
.Qclubs{
  background-image: url("../assets/images/Q-clubs.png");
  width: 169px;
  height: 244px;
}
.Kclubs{
  background-image: url("../assets/images/K-clubs.png");
  width: 169px;
  height: 244px;
}
.Aclubs{
  background-image: url("../assets/images/A-clubs.png");
  width: 169px;
  height: 244px;
}

/* diamonds image */

.diamonds2{
  background-image: url("../assets/images/2-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds3{
  background-image: url("../assets/images/3-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds4{
  background-image: url("../assets/images/4-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds5{
  background-image: url("../assets/images/5-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds6{
  background-image: url("../assets/images/6-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds7{
  background-image: url("../assets/images/7-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds8{
  background-image: url("../assets/images/8-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds9{
  background-image: url("../assets/images/9-diamonds.png");
  width: 169px;
  height: 244px;
}
.diamonds10{
  background-image: url("../assets/images/10-diamonds.png");
  width: 169px;
  height: 244px;
}
.Jdiamonds{
  background-image: url("../assets/images/J-diamonds.png");
  width: 169px;
  height: 244px;
}
.Qdiamonds{
  background-image: url("../assets/images/Q-diamonds.png");
  width: 169px;
  height: 244px;
}
.Kdiamonds{
  background-image: url("../assets/images/K-diamonds.png");
  width: 169px;
  height: 244px;
}
.Adiamonds{
  background-image: url("../assets/images/A-diamonds.png");
  width: 169px;
  height: 244px;
}

/* spades image */

.spades2{
  background-image: url("../assets/images/2-spades.png");
  width: 169px;
  height: 244px;
}
.spades3{
  background-image: url("../assets/images/3-spades.png");
  width: 169px;
  height: 244px;
}
.spades4{
  background-image: url("../assets/images/4-spades.png");
  width: 169px;
  height: 244px;
}
.spades5{
  background-image: url("../assets/images/5-spades.png");
  width: 169px;
  height: 244px;
}
.spades6{
  background-image: url("../assets/images/6-spades.png");
  width: 169px;
  height: 244px;
}
.spades7{
  background-image: url("../assets/images/7-spades.png");
  width: 169px;
  height: 244px;
}
.spades8{
  background-image: url("../assets/images/8-spades.png");
  width: 169px;
  height: 244px;
}
.spades9{
  background-image: url("../assets/images/9-spades.png");
  width: 169px;
  height: 244px;
}
.spades10{
  background-image: url("../assets/images/10-spades.png");
  width: 169px;
  height: 244px;
}
.Jspades{
  background-image: url("../assets/images/J-spades.png");
  width: 169px;
  height: 244px;
}
.Qspades{
  background-image: url("../assets/images/Q-spades.png");
  width: 169px;
  height: 244px;
}
.Kspades{
  background-image: url("../assets/images/K-spades.png");
  width: 169px;
  height: 244px;
}
.Aspades{
  background-image: url("../assets/images/A-spades.png");
  width: 169px;
  height: 244px;
}
