.card {
  width: 169px;
  height: 244px;
  position: absolute;
  transition-property: all;
  transition-duration: 1.6s;
  z-index: 2;
  box-shadow: 8px 8px 5px -3px rgba(0,0,0,0.75);
  cursor: pointer;
}

.SelectedCard{
  margin-bottom: 25px;
}
.card1 {
  transform: translateX(117px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
}


.card2 {
  transform: translateX(206px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
}

.card3 {
  transform: translateX(295px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
}

.card4 {
  transform: translateX(384px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
}



.fire {
  opacity: 0;
  position: absolute;
  right: 0;
  top: -1rem;
}

.card:hover .fire,
.card:hover .Selected_Card {
  opacity: 100;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.Selected_Card {
  opacity: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
}

.playerNames_User4{
  color: white;
  position: absolute;
  transform:translateX(1362%) translateY(2970%);
}
