.deckCard_img {
  position: absolute;
  width: 70%;
  left: 1.6rem;
  top: 2rem;
  cursor: pointer;
  display: none;
}


.deckCard{
  border-radius: 8px;
  width: 169px;
  height: 244px;
  margin: 10px;
  padding: 2rem;
  position: absolute;
  cursor: pointer;
  transform: translateX(245px) translateY(65px) scale(0.5, 0.5);
  transition: all;
  animation-duration: 1.6s;
  z-index: 2;
  box-shadow: 8px 8px 5px -3px rgba(0,0,0,0.75);
}

.deckCard:hover .Selected_Card {
  opacity: 100;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.Selected_Card {
  opacity: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
}

.deckCardReplace{
  border-radius: 8px;
  width: 169px;
  height: 244px;
  margin: 10px;
  padding: 2rem;
  position: absolute;
  cursor: pointer;
  transform: translateX(245px) translateY(65px) scale(0.5, 0.5);
  box-shadow: 8px 8px 5px -3px rgba(0,0,0,0.75);
}
