.generateHandsCards{
    width: 169px;
    height: 244px;
    border-radius: 8px;
    position: absolute;
    transition: all;
    z-index: 6;
    animation-duration: 0.9s;
    transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
  }
            /*anime  */
    .GHC1_anime{
        animation-delay: 0.5s;
        animation-duration: 8s;
        animation-name: GHC1_anime;
      }
      
      @keyframes GHC1_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
            z-index: 2;
            transform: translate(15px, 55px) rotate(90deg) scale(0.5);
          }

        100% {
          z-index: 2;
          transform: translate(15px, 55px) rotate(90deg) scale(0.5);
        }
      }

      .GHC2_anime{
        animation-delay: 1s;
        animation-duration: 8s;
        animation-name: GHC2_anime;
      }
      
      @keyframes GHC2_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
          transform: translate(15px, 69px) rotate(90deg) scale(0.5);
        }
        100% {
            z-index: 2;
          transform: translate(15px, 69px) rotate(90deg) scale(0.5);
          }
      }

      .GHC3_anime{
        animation-delay: 1.5s;
        animation-duration: 8s;
        animation-name: GHC3_anime;
      }
      
      @keyframes GHC3_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
          transform: translate(15px, 83px) rotate(90deg) scale(0.5);
        }
        100% {
          z-index: 2;
          transform: translate(15px, 83px) rotate(90deg) scale(0.5);
        }
      }

      .GHC4_anime{
        animation-delay: 2s;
        animation-duration: 8s;
        animation-name: GHC4_anime;

      }
      
      @keyframes GHC4_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
          transform: translate(15px, 97px) rotate(90deg) scale(0.5);
        }
        100% {
          z-index: 2;
          transform: translate(15px, 97px) rotate(90deg) scale(0.5);
        }
      }

      .GHC5_anime{
        animation-delay: 2.5s;
        animation-duration: 8s;
        animation-name: GHC5_anime;
      }
      
      @keyframes GHC5_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(230px, -173px) rotate(0deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(230px, -173px) rotate(0deg) scale(0.5);
        }
      }

      .GHC6_anime{
        animation-delay: 3s;
        animation-duration: 8s;
        animation-name: GHC6_anime;
      }
      
      @keyframes GHC6_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(244px, -173px) rotate(0deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(244px, -173px) rotate(0deg) scale(0.5);
        }
      }

      .GHC7_anime{
        animation-delay: 3.5s;
        animation-duration: 8s;
        animation-name: GHC7_anime;
      }
      
      @keyframes GHC7_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(258px, -173px) rotate(0deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(258px, -173px) rotate(0deg) scale(0.5);
        }
      }

      .GHC8_anime{
        animation-delay: 4s;
        animation-duration: 8s;
        animation-name: GHC8_anime;
      }
      
      @keyframes GHC8_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(272px, -173px) rotate(0deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(272px, -173px) rotate(0deg) scale(0.5);
        }
      }

      .GHC9_anime{
        animation-delay: 4.5s;
        animation-duration: 8s;
        animation-name: GHC9_anime;
      }
      
      @keyframes GHC9_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(511px, 55px) rotate(90deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(511px, 55px) rotate(90deg) scale(0.5);
        }
      }

      .GHC10_anime{
        animation-delay: 5s;
        animation-duration: 8s;
        animation-name: GHC10_anime;
      }
      
      @keyframes GHC10_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
       5% {
          z-index: 2;
            transform: translate(511px, 69px) rotate(90deg) scale(0.5);
        }
       100% {
          z-index: 2;
            transform: translate(511px, 69px) rotate(90deg) scale(0.5);
        }
      }

      .GHC11_anime{
        animation-delay: 5.5s;
        animation-duration: 8s;
        animation-name: GHC11_anime;
      }
      
      @keyframes GHC11_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(511px, 83px) rotate(90deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(511px, 83px) rotate(90deg) scale(0.5);
        }
      }

      .GHC12_anime{
        animation-delay: 6s;
        animation-duration: 8s;
        animation-name: GHC12_anime;
      }
      
      @keyframes GHC12_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translate(511px, 97px) rotate(90deg) scale(0.5);
        }
        100% {
          z-index: 2;
            transform: translate(511px, 97px) rotate(90deg) scale(0.5);
        }
      }

      .GHC13_anime{
        animation-delay: 6.5s;
        animation-duration: 8s;
        animation-name: GHC13_anime;
      }
      
      @keyframes GHC13_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translateX(117px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
        100% {
          z-index: 2;
            transform: translateX(117px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
      }

      .GHC14_anime{
        animation-delay: 7s;
        animation-duration: 8s;
        animation-name: GHC14_anime;
      }
      
      @keyframes GHC14_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translateX(206px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
        100% {
          z-index: 2;
            transform: translateX(206px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
      }
      
      .GHC15_anime{
        animation-delay: 7.5s;
        animation-duration: 8s;
        animation-name: GHC15_anime;
      }
      
      @keyframes GHC15_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translateX(295px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
        100% {
          z-index: 2;
            transform: translateX(295px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
      }

      .GHC16_anime{
        animation-delay: 8s;
        animation-duration: 8s;
        animation-name: GHC16_anime;
      }
      
      @keyframes GHC16_anime{
        0% {
          z-index: 2;
          transform: translateX(254px) translateY(75px) scale(0.5, 0.5) rotate(0deg);
        }
        5% {
          z-index: 2;
            transform: translateX(384px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
        100% {
          z-index: 2;
            transform: translateX(384px) translateY(262px) scale(0.5, 0.5) rotate(0deg);
        }
      }