.reversedCard {
  width: 169px;
  height: 244px;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  animation-duration: 0.9s;
}

/* User1 */
.opponentUser1 .reversedCard {
  transform: rotate(90deg);
  left: 1.8%;
}

.opponentUser1 .reversedCard1 {
  top: 34%;
}

.opponentUser1 .reversedCard2 {
  top: 36%;
}

.opponentUser1 .reversedCard3 {
  top: 38%;
}

.opponentUser1 .reversedCard4 {
  top: 40%;
}

@keyframes user1Anime {
  from {
    left: 0%;
    transform: rotate(90) rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate(0) rotate3d(0, 1, 0, 90deg);
    top: 37%;
    left: 38.4%;
  }
}

.opponentUser1 .User1_discarding {
  animation-name: user1Anime;
}

/* User2 */
.opponentUser2 .reversedCard {
  top: 0;
}

.opponentUser2 .reversedCard1 {
  left: 40%;
}

.opponentUser2 .reversedCard2 {
  left: 42%;
}

.opponentUser2 .reversedCard3 {
  left: 44%;
}

.opponentUser2 .reversedCard4 {
  left: 46%;
}

@keyframes user2Anime {
  from {
    top: 0%;
    transform: rotate3d(1, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 0, 0, 90deg);
    top: 26%;
    left: 42.5%;
  }
}

.opponentUser2 .User2_discarding {
  animation-name: user2Anime;
}

/* User3 */
.opponentUser3 .reversedCard {
  transform: rotate(90deg);
  right: 1.9%;
}

.opponentUser3 .reversedCard1 {
  top: 34%;
}

.opponentUser3 .reversedCard2 {
  top: 36%;
}

.opponentUser3 .reversedCard3 {
  top: 38%;
}

.opponentUser3 .reversedCard4 {
  top: 40%;
}

@keyframes user3Anime {
  from {
    transform: rotate(90) rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate(0) rotate3d(0, 1, 0, 90deg);
    top: 37%;
    right: 45.5%;
  }
}

.opponentUser3 .User3_discarding {
  animation-name: user3Anime;
}
