.reversedCard{
  width: 169px;
  height: 244px;
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  animation-duration: 1.6s;
  transform: scale(0.7, 0.7);
}
.playerNames_User1{
  color: white;
  position: absolute;
  transform: translateX(160%) translateY(1050%)
}
.playerNames_User2{
  color: white;
  position: absolute;
  transform: translateX(1793%) translateY(821%);
}
.playerNames_User3{
  color: white;
  position: absolute;
  transform: translateX(2676%) translateY(1050%);
}

