/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-color: rgb(0, 45, 87);
  width: 100vw;
  /* height: 900px; */
  /* position: relative; */
}
.board{
  background-color: rgb(30, 73, 35);
  position: relative;
  height: 700px;
  margin: 0 auto;
  width: 700px;
  border-radius: 2rem;
  border: rgb(0, 44, 14) 2px solid;
  overflow: hidden;
  box-shadow: black;
}
.reversedCard, .card, .topOfMeld{
  transform: scale(0.5, 0.5);
}
    /* User1 */
/* .opponentUser1 .reversedCard {
  transform: scale(0.5, 0.5) rotate(90deg);

} */

.reversedCard_User1_1{
  transform: translate(15px, 55px) rotate(90deg) scale(0.5);
}

.reversedCard_User1_2{
  transform: translate(15px, 69px) rotate(90deg) scale(0.5);
}

.reversedCard_User1_3{
  transform: translate(15px, 83px) rotate(90deg) scale(0.5);
}

.reversedCard_User1_4{
  transform: translate(15px, 97px) rotate(90deg) scale(0.5);
}

.User1_discarding {
  animation-name: user1AnimeDiscard;
}

@keyframes user1AnimeDiscard {
  0% {
    transform: translate(15px, 55px) rotate(90deg) scale(0.5) rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  
  70% {
    transform: translate(213px, 75px) rotate3d(0, 1, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 3;
    opacity: 1;
  }
  100% {
    transform: translate(213px, 75px) rotate3d(0, 1, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 3;
    opacity: 1;
    opacity: 0;
  }
}


.User1_meld {
  animation-name: user1AnimeMeld;
}

@keyframes user1AnimeMeld {
  from {
    transform: translate(15px, 55px) rotate(90deg) scale(0.5) rotate3d(1, 0, 0, 0deg);
  }
  to {
    z-index: 3;
    transform: translate(14px, -61px) rotate(0deg) rotate3d(1, 0, 0, 90deg) scale(0.42);
  }
}

.User1_MeldDeck{
  animation-name: User1_MeldDeck;
}

@keyframes User1_MeldDeck {
  from {
    transform: translateX(245px, 65px) scale(0.5, 0.5);
  }
  to {
    z-index: 3;
    transform: translateX(5px) translateY(-124px) scale(0.42);
  }
}


/* User2 */
/* .opponentUser2 .reversedCard {
  top: 0;
} */

.reversedCard_User2_1{
  transform: translate(230px, -173px) rotate(0deg) scale(0.5);
}

.reversedCard_User2_2{
  transform: translate(244px, -173px) rotate(0deg) scale(0.5);
}

.reversedCard_User2_3{
  transform: translate(258px, -173px) rotate(0deg) scale(0.5);
}

.reversedCard_User2_4{
  transform: translate(272px, -173px) rotate(0deg) scale(0.5);
}

@keyframes user2AnimeDiscard {
  0% {
    transform: translate(230px, -173px) rotate(0deg) scale(0.5);
    opacity: 1;
  }
  70% {
    transform: translate(255px, 13px) rotate3d(1, 0, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 3;
    opacity: 1;
  }
  100%{
    transform: translate(255px, 13px) rotate3d(1, 0, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 3;
    opacity: 0;
  }
}
.User2_discarding {
  
  animation-name: user2AnimeDiscard;
}

.User2_meld {
  animation-name: user2AnimeMeld;
}

@keyframes user2AnimeMeld {
  from {
    transform: translate(230px, -173px) rotate(0deg) scale(0.5);
  }
  to {
    transform:  translate(465px, -113px) rotate(0deg)  rotate3d(0, 1, 0, 90deg) scale(0.42);
    z-index: 3;
  }
}

.User2_MeldDeck{
  animation-name: User2_MeldDeck;
}

@keyframes User2_MeldDeck {
  from {
    transform: translateX(245px, 65px) scale(0.5, 0.5);
  }
  to {
    z-index: 3;
    transform: translateX(491px) translateY(-124px) scale(0.42)
  }
}


/* User3 */
.opponentUser3 .reversedCard {
  /* transform: scale(0.5, 0.5) rotate(90deg); */
  /* right: 1.9%; */
}

.reversedCard_User3_1{
  transform: translate(511px, 55px) rotate(90deg) scale(0.5);
}

.reversedCard_User3_2{
  transform: translate(511px, 69px) rotate(90deg) scale(0.5);
}

.reversedCard_User3_3{
  transform: translate(511px, 83px) rotate(90deg) scale(0.5);
}

.reversedCard_User3_4{
  transform: translate(511px, 97px) rotate(90deg) scale(0.5);
}

@keyframes user3AnimeDiscard {
  0% {
    transform: translate(511px, 55px) rotate(90deg) scale(0.5) rotate3d(0, 1, 0, 0deg);
    opacity: 1;
  }
  70% {
    transform: translate(299px, 75px) rotate3d(0, 1, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 2;
    opacity: 1;
  }
  100%{
    transform: translate(299px, 75px) rotate3d(0, 1, 0, 90deg) rotate(0deg) scale(0.5);
    z-index: 2;
    opacity: 0;
  }
}

.User3_discarding {
  animation-name: user3AnimeDiscard;
}

.User3_meld {
  animation-name: user3AnimeMeld;
}

@keyframes user3AnimeMeld {
  from {
    transform: translate(511px, 55px) rotate(90deg) scale(0.5);
  }
  to {
    transform: translate(512px, 165px) rotate(0deg) rotate3d(1, 0, 0, 90deg) scale(0.42);
    z-index: 2;
  }
}

.User3_MeldDeck{
  animation-name: User3_MeldDeck;
}

@keyframes User3_MeldDeck {
  from {
    transform: translateX(245px, 65px) scale(0.5, 0.5);
  }
  to {
    transform: translateX(502px) translateY(203px) scale(0.42);
    z-index: 3;

  }
}

/* User4 */
.card1.user4_discarding, .card2.user4_discarding, .card3.user4_discarding, .card4.user4_discarding {
transform:  translate(244px, -187px) scale(0.5);
}

.card1.user4_Meld, .card2.user4_Meld, .card3.user4_Meld, .card4.user4_Meld{
  transform: translate(4px, -53px) scale(0.42);
}

.User4_MeldDeck{
  animation-name: User4_MeldDeck;
}

@keyframes User4_MeldDeck {
  from {
    transform: translateX(245px) translateY(65px) scale(0.5);
  }
  to {
    z-index: 3;
    transform: translateX(4px) translateY(198px) scale(0.42);
  }
}

/* posizion user1 = translateX(14px) translateY(-114px) scale(0.42, 0.42);
posizion user2 = translateX(501px) translateY(-114px) scale(0.42, 0.42)
posizion user3 = translateX(512px) translateY(214px) scale(0.42, 0.42)
posizion user4 = translateX(14px) translateY(208px) scale(0.42, 0.42) */

/* User1 meldByOtherUser*/
.User1MeldFromUser2{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User1MeldFromUser2
}
@keyframes User1MeldFromUser2 {
  from {
    z-index: 2;
    transform: translateX(501px) translateY(-114px);
  }
  to {
    z-index: 2;
    transform: translateX(14px) translateY(-114px);
  }
}

.User1MeldFromUser3{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User1MeldFromUser3
}
@keyframes User1MeldFromUser3 {
  from {
    z-index: 2;
    transform: translateX(512px) translateY(214px);
  }
  to {
    z-index: 2;
    transform: translateX(14px) translateY(-114px);
  }
}

.User1MeldFromUser4{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User1MeldFromUser4;
}

@keyframes User1MeldFromUser4 {
  from {
    z-index: 2;
    transform: translateX(14px) translateY(208px) ;
  }
  to {
    z-index: 2;
    transform: translateX(14px) translateY(-114px);
  }
}

/* User2 meldByOtherUser*/
.User2MeldFromUser3{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User2MeldFromUser3;
}

@keyframes User2MeldFromUser3 {
  from {
    z-index: 2;
    transform: translateX(512px) translateY(214px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(501px) translateY(-114px) ;
  }
}

.User2MeldFromUser4{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User2MeldFromUser4;
}

@keyframes User2MeldFromUser4 {
  from {
    z-index: 2;
    transform: translateX(14px) translateY(208px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(501px) translateY(-114px) ;
  }
}

.User2MeldFromUser1{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User2MeldFromUser1;
}

@keyframes User2MeldFromUser1 {
  from {
    z-index: 2;
    transform: translateX(14px) translateY(-114px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(501px) translateY(-114px) ;
  }
}

/* User3 meldByOtherUser*/

.User3MeldFromUser4{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User3MeldFromUser4;
}

@keyframes User3MeldFromUser4 {
  from {
    z-index: 2;
    transform: translateX(14px) translateY(208px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(512px) translateY(214px)  ;
  }
}

.User3MeldFromUser1{
  transition: all;
  animation-duration: 1.6s;
  position: absolute;
  animation-name: User3MeldFromUser1;
}

@keyframes User3MeldFromUser1 {
  from {
    z-index: 2;
    transform: translateX(14px) translateY(-114px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(512px) translateY(214px)  ;
  }
}

.User3MeldFromUser2{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User3MeldFromUser2;
}

@keyframes User3MeldFromUser2 {
  from {
    z-index: 2;
    transform: translateX(501px) translateY(-114px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(512px) translateY(214px)  ;
  }
}

/* User4 meldByOtherUser*/
.User4MeldFromUser1{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User4MeldFromUser1;
}

@keyframes  User4MeldFromUser1{
  from {
    z-index: 2;
    transform: translateX(14px) translateY(-114px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(14px) translateY(208px)  ;
  }
}

.User4MeldFromUser2{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User4MeldFromUser2;
}

@keyframes  User4MeldFromUser2{
  from {
    z-index: 2;
    transform: translateX(501px) translateY(-114px) ;
  }
  to {
    z-index: 2;
    transform: translateX(14px) translateY(208px)  ;
  }
}

.User4MeldFromUser3{
  position: absolute;
  transition: all;
  animation-duration: 1.6s;
  animation-name: User4MeldFromUser3;
}

@keyframes  User4MeldFromUser3{
  from {
    z-index: 2;
    transform: translateX(512px) translateY(214px) ;
  }
  to {
    z-index: 2;
    transform:  translateX(14px) translateY(208px)  ;
  }
}

/* Anime discard deckCard */
.User1_DeckDiscard{
  position: absolute;
  transition: all;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-name: User1_DeckDiscard;
}
@keyframes  User1_DeckDiscard{
  from {
    z-index: 5;
    transform:  scale(0.5, 0.5) translateX(420px) translateY(130px) rotate3d(0, 1, 0, 90deg) ;
  }
  to {
    z-index: 5;
    transform: scale(0.5, 0.5) translateX(490px) translateY(130px) rotate3d(0, 1, 0, 0deg) ;
  }
}

.User2_DeckDiscard{
  position: absolute;
  transition: all;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-name: User2_DeckDiscard;
}
@keyframes  User2_DeckDiscard{
  from {
    /* top:28%;
    left:36.5%; */
    z-index: 5;
    transform: rotate3d(1, 0, 0, 90deg) scale(0.5, 0.5) translateX(490px) translateY(100px);
  }
  to {
    /* top:36%;
    left: 42%; */
    z-index: 5;
    transform: rotate3d(1, 0, 0, 0deg) scale(0.5, 0.5) translateX(490px) translateY(130px); 
  }
}

.User3_DeckDiscard{
  position: absolute;
  transition: all;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-name: User3_DeckDiscard;
}
@keyframes  User3_DeckDiscard{
  from {
    z-index: 5;
    transform:  scale(0.5, 0.5) translateX(560px) translateY(130px) rotate3d(0, 1, 0, 90deg) ;
  }
  to {
    z-index: 5;
    transform: scale(0.5, 0.5) translateX(490px) translateY(130px) rotate3d(0, 1, 0, 0deg) ;
  }
}

.meldSecondCard{
  z-index: -1;
}

.playerNames_User1{
  position: absolute;
  color: rgb(208, 255, 0);
  transform: translateX(191%) translateY(381%);;
}

.playerNames_User2{
  color: rgb(185, 4, 4);
  text-align: left;
  position: absolute;
  float: left;
  justify-content: left;
  justify-items: left;
  transform: translateX(815%) translateY(610%);
}

.playerNames_User3{
  color: white;
  display: block;
  position: absolute;
  transform: translateX(2264%) translateY(383%)
}
.playerNames_User4{
  color: white;
  display: block;
  position: absolute;
  left: 0%;
  top: 15.5%;
}



